name: CI workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: python:3.9-slim

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install nose-spec

      - name: Run flake8
        run: flake8 . --ignore=E501

      - name: Run unit tests with nose
        run: |
          nosetests
